<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="UTF-8">
  <title>K체lastus salvestatud</title>
</head>
<body>
  <h1><%= fullName %> k체lastus on salvestatud.</h1>

  <p><a href="/">Avalehele</a></p>
  <p><a href="/visitlog">Vaata k천iki k체lastusi</a></p>
</body>
</html>
